<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileeftpos.android.eftpos">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.EftposApp"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FullScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlipayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentFailure"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentSuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReprintMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TecnicianMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransactionType"
            android:label="@string/title_activity_transaction_type"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.VoidFlow" />
        <activity android:name=".activity.SettlementFlow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ae83f84f38427891bbb8bedebf7172679eb24f6" />

    </application>

</manifest>